.inputValidateError input {
    border-width: 1px;
    border-style: Solid;
    border-color: #CC0000;
    background-color: #FFDDD9;
}

.headerUserText {
    font-weight: bold;
    color: #cb0101;
}

.cartDetail-switch {
    padding-right: 0.75rem;
}

.cartDetailForm {
    margin-bottom: 2em;
    margin-top: 2em;
}

.loginPageBackground {
    background: url("../images/sapBackgroundImage.jpeg") no-repeat center;
    background-size: cover;
}

/*
.sapUiGlobalBackgroundImage.sapUiGlobalBackgroundImageForce {
    display: block;
    background: url("../images/globalBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
*/

span.orderDetailIcon {
    padding-top: 14px;
    text-align: left;
    padding-left: 14px;
}


/* gestione testo version footerPage */

.cssVersionText {
    margin-bottom: 10px !important;
}

.cssVersionText span {
    margin-right: 15px;
    color: white;
    font-weight: bold;
}


/* OVERWRITE SAP CSS RULES */

.sap-desktop .sapMIBar.sapMFooter-CTX {
    background-color: rgba(54, 62, 67, 1);
}

.sapUiGlobalBackgroundColor,
.sapMGlobalBackgroundColor {
    background-color: #FFFFFF;
    background-image: none;
}

.sapMBar {
    background-color: #f2f2f2 !important;
}

.sapMTileContent:active {
    background-color: #0F3D7B;
}

.sapMStdTileIconDiv {
    color: black;
}

.sapMStdTileTitle {
    font-weight: bold;
    color: #0F3D7B;
}

.sapMTC .sapMTCPager SPAN.sapMTCActive {
    background-color: #cb0101;
}

.sapMShellBrandingBar {
    background-color: #0F3D7B;
}

.sapMRbSel .sapMRbBInn {
    background-color: #006ca7;
}


/*
.sapMITBSelected .sapMITBFilterDefault {
    background: #cb0101;
}
.sapMITBSelected .sapMITBFilterIcon {
    border: 1px solid #cb0101;
}
.sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: #cb0101;
}
.sapMITBSelected .sapMITBText {
    color: #cb0101 !important;
}
*/

.sapMITBFilterDefault {
    color: #0F3D7B;
}

.sapMITBFilterIcon {
    border: 1px solid #0F3D7B;
}

.sapMITBFilter .sapMITBText {
    color: #0F3D7B;
}

.sapUiIcon:focus {
    outline: none;
}


/* END OVERWRITE SAP CSS RULES */

.orderHeaderLabel {
    font-size: 1rem;
}

.orderHeaderText>input {
    font-size: 1rem;
}

.orderDetailNote>label,
.orderDetailNote>textarea,
.sapMSelectListItem {
    font-size: 1rem !important;
}

@media screen and (max-width:1000px) {
    .orderDetailNote {
        min-width: 20rem;
    }
}

@media screen and (min-width:1001px) {
    .orderDetailNote {
        min-width: 35rem;
    }
}

.enlargeButton {
    width: 15rem;
    margin-right: 15px !important;
}

.productRequestPanel .sapMPanelExpandableIcon {
    display: none !important;
}

.confirmAvailabilityButton {
    margin-left: 35px !important;
}

.sapUiFormResGridCont {
    padding-bottom: 0px !important;
}

#__component0---orderCreateViewId--tit3,
#__component0---orderCreateViewId--tit4,
#__component0---orderCreateViewId--tit5,
#__component0---orderCreateViewId--tit6 {
    height: 1px !important;
}


/* order detail page */

#__component0---orderDetailViewId--tit3,
#__component0---orderDetailViewId--tit4,
#__component0---orderDetailViewId--tit5,
#__component0---orderDetailViewId--tit6 {
    height: 1px !important;
}

#__component0---orderDetailViewId--tab1OrderDetail--Form--Grid {
    padding-top: 1rem;
    padding-right: 0.75rem;
    padding-bottom: 0 !important;
    padding-left: 0.75rem;
}

#lv1Node {
    color: aqua;
}

#lv2Node {
    color: deepskyblue;
}


/*Custom Changes*/

.globalFooterPage {
    background-color: white !important;
    background: url("../img/....") center bottom no-repeat;
    background-size: contain;
}

.sapMObjStatusMarkerLocked {
    color: red;
    font-size: 20px;
}

.customTileClass {
    border: 2px solid #0F3D7B;
}

.customTileClass:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.formClass {
    border: solid;
    border-color: #73ecb5;
    background-color: black;
}

.loginButton>div.sapMBtnInner {
    text-align: center;
    position: relative;
    -webkit-appearance: none;
    -webkit-user-select: none;
    background: -webkit-linear-gradient(top, #0F3D7B, #0F3D7B);
    height: 2.500rem;
    min-width: 2.500rem;
    margin: 0;
    padding: 0.2px;
    margin-left: 1px;
    vertical-align: top;
    border: 1px solid #bfbfbf;
    border-radius: 0.125rem;
    color: white;
    text-shadow: 0 0 0 #ffffff;
    font-size: 0.875rem;
    background-color: transparent;
}

.loginButton>div.sapMBtnInner:hover {
    text-align: center;
    position: relative;
    -webkit-appearance: none;
    -webkit-user-select: none;
    background: -webkit-linear-gradient(top, cadetblue, cadetblue);
    height: 2.500rem;
    min-width: 2.500rem;
    margin: 0;
    padding: 0.2px;
    margin-left: 1px;
    vertical-align: top;
    border: 1px solid #bfbfbf;
    border-radius: 0.125rem;
    color: white;
    text-shadow: 0 0 0 #ffffff;
    font-size: 0.875rem;
    background-color: transparent;
}

.loginButton> div.sapMBtnContent {
    padding-right: 1rem;
    padding-left: 1rem;
}

.productDescriptionHierarchy>span {
    display: inline-block;
    box-sizing: border-box;
    white-space: pre-line;
    word-wrap: break-word;
    cursor: text;
}

.addressDescription>span{
    display: inline-block;
    box-sizing: border-box;
    white-space: pre-line;
    word-wrap: break-word;
    cursor: text;
}

div[data-statusColor=""] {
    background-color: lightgreen !important;
    color: white !important;
}

div[data-statusColor="00"] {
    background-color: green !important;
    color: white !important;
}

div[data-statusColor="80"] {
    background-color: red !important;
    color: white !important;
}

div[data-statusColor="99"] {
    background-color: orange !important;
    color: white !important;
}

.priceClass .sapMInputBaseInner {
    font-size: 1.1rem;
    color: green;
}

.availabilityWarningButton .sapMBtnIcon {
    color: orange;
}

.availabilityWarningButton .sapMBtnInner {
    border: 1.5px solid orange;
}

.notAvailableButton .sapMBtnIcon {
    color: red;
}

.notAvailableButton .sapMBtnInner {
    border: 1.5px solid red;
}

.availableButton .sapMBtnIcon {
    color: green;
}

.availableButton .sapMBtnInner {
    border: 1.5px solid green;
}

.confirmButton {
    margin-left: 35px !important;
}
.totalOnCartHeader{
	text-align: right !important;
	padding-right: 0.75rem;
}