/*mainColor RCF #125797*/

.launchPadBackground {
    background: url("../images/sapCompanyLogo (1) .png") center 8% no-repeat;
}

.customTileClass {
    border: 2px solid #73ecb5;
}

.headerUserText {
    font-weight: bold;
    color: #73ecb5 !important;
}

.customTileClass:hover {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-filter: saturate(80%);
    filter: saturate(80%);
    -webkit-filter: contrast(80%);
    filter: contrast(80%);
}


/*Override sap default classes*/


.sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: #73ecb5;
}

.sapMITBSelected .sapMITBFilterDefault {
    background: #73ecb5;
    color: #ffffff;
}

.sapMITBFilterDefault {
    color: #73ecb5;
}

.sapMStdTileTitle {
    font-weight: bold;
    color: #73ecb5;
}

.sapMITBFilterIcon {
    background: #ffffff;
    border: 1px solid #73ecb5;
    border-bottom-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    -moz-border-radius: 3rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    box-sizing: border-box;
    display: inline-block;
    font-size: 1.5rem;
    height: 3rem;
    line-height: 2.75rem;
    overflow: hidden;
    width: 3rem;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.sap-desktop .sapMIBar.sapMFooter-CTX {
    background-color: #73ecb5;
}

.sapMIBar-CTX.sapMFooter-CTX {
    background-color: #73ecb5 !important;
}

.sapMITBContent {
    background-color: #ffffff;
    padding: 1rem;
    position: relative;
    border-color: #73ecb5;
    border-style: solid;
}

@media screen and (max-width: 400px) and (min-width: 350px) {
    .sapMITBContent {
        background-color: #ffffff;
        padding: 1rem;
        position: relative;
        border-color: #73ecb5;
        border-style: solid;
        margin-left: -3em !important;
        width: 16em !important;
    }
}

.sapMShellBrandingBar {
    background-color: #73ecb5;
}

.sapMITBNoScrollBack.sapMITBScrollForward.sapMITBScrollable.sapMITH {
    margin-left: -3em !important;
}

.sapMITBScrollable.sapMITH.sapMITBScrollForward.sapMITBScrollBack {
    margin-left: -3em !important;
}

.sapMITBArrowScroll.sapMITBArrowScrollLeft.sapUiIcon.sapUiIconMirrorInRTL {
    visibility: hidden;
}

.sapMITBArrowScroll.sapMITBArrowScrollRight.sapUiIcon.sapUiIconMirrorInRTL {
    visibility: hidden;
}


/*Override sap default classes*/